<h2>Messages</h2>

<p ng-show="!currentUser"><a href="/register">Register</a> to post a message!</p>

<div class="row">

	<div class="col-md-6">

    <div id="filterMessage">
      <div class="right-inner-addon">
        <i class="fa fa-search"></i>
        <input type="search"
               class="form-control" 
               placeholder="Search" 
               ng-model="searchstring" />
      </div>
    </div>

  	<div id="allMessages">
  		<ul class="chat">
        <li class="clearfix" ng-repeat="message in messages |filter:searchstring | orderBy:updatedAt:reverse ">
          <span class="chat-img pull-left">
            <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
          </span>
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font">{{message.user.username}}</strong> 
              <small class="pull-right text-muted">
                <span class="fa fa-clock-o" style="margin-right: 5px"></span><span am-time-ago="message.updatedAt"></span>
              </small>
            </div>
            <p>
              {{message.title}}
            </p>

            <button type="button" class="btn btn-danger btn-xs" ng-click="destroyMessage(message)" ng-show="currentUser.id === message.user.id"><i class="fa fa-trash-o"></i></button>            
          </div>
        </li>

  		</ul>
  	</div>

		<form id="sendMessage" role="form" ng-submit="createMessage(newMessage)">
			<div class="input-group">
				<input type="text" class="form-control"  ng-model="newMessage.title" id="messageTitle" ng-disabled="!currentUser">
  			<div class="input-group-btn">
    			<button type="submit" class="btn btn-primary" ng-disabled="!currentUser || !newMessage.title">Submit</button>
  			</div>
			</div>
		</form>

	</div>
</div>