<div class="modal-header">
  <h3 class="modal-title">Edit User</h3>
</div>

<div class="modal-body">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

  <form role="form" name="loginform"novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input ng-model="eUser.username" class="form-control" id="username" placeholder="Username" required>
    </div>
    <div class="form-group">
      <label for="email">eMail</label>
      <input ng-model="eUser.email" class="form-control" id="email" placeholder="eMail Adresse" type="email" required>
    </div>
    <div class="form-group">
      <label for="handle">Handle</label>
      <input ng-model="eUser.handle" class="form-control" id="handle" placeholder="your Handle" required>
    </div>
  </form>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="loginform.$invalid">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
